<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.metis.server.mapper.TenantNodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.boot.metis.server.entity.TenantNode">
        <id column="id" property="id" />
        <result column="node_name" property="nodeName" />
        <result column="pid" property="pid" />
        <result column="target_id" property="targetId" />
        <result column="create_time" property="createTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, node_name, pid, target_id, create_time, deleted
    </sql>

</mapper>
